#controlRoot {
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 15vh;
    text-align: center;
}

#progressBar {
    width: 90vw;
    height: 3px;
    margin-bottom: 3vh;
    border: none;
    outline: none;
    border-radius: 1.5px;
    transition-duration: 0.3s;
    -webkit-appearance: none;
    appearance: none;
}

#progressBar:hover {
    height: 9px;
}

#controlDiv {
    display: inline-block;
    width: 30vw;
    height: 7vh;
    text-align: center;
}

#controlDiv * {
    width: fit-content;
    height: 100%;
}

#controlDiv *:not(#playStopBtn) {
    height: calc(100% - 1.4vh);
    margin: 0.7vh;
}

#controlDiv * img {
    width: auto;
    height: 100%;
    filter: invert(100%);
}

#forwardBtn {
    float: right;
}

#playStopBtn {
    display: inline-block;
}

#backwardBtn {
    float: left;
}

#currentMusicName {
    width: 100%;
    margin: 0.3vh 0 1.3vh 0;
    font-size: larger;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#progressTime {
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 3vw;
    height: 2vh;
    line-height: 2vh;
    border-radius: 5px;
    bottom: 33.5vh
}

#volumeCotrolRoot {
    width: 100%;
    height: 9px;
    margin-top: 1vh;
    display: block;
    text-align: center;
}

#volumeControl {
    -webkit-appearance: none;
    appearance: none;
    transition-duration: 0.3s;
    width: 15vw;
    height: 3px;
    border-radius: 1.5px;
    float: right;
    margin-right: 5vw;
}

#volumeControl:hover {
    height: 9px;
}

#selectedVolume {
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 3vw;
    height: 2vh;
    line-height: 2vh;
    border-radius: 5px;
    bottom: 28.5vh
}

*::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.5);
}

*::-webkit-progress-value {
    background-color: rgba(0, 0, 0, 0.3);
}