#playlist {
    width: 97%;
    height: 29vh;
    padding: 1.5%;
    overflow-y: auto;
}

#playlist div {
    width: 100%;
    height: 3vh;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5vh;
    line-height: 3vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#playlist div:not(#parentDir) {
    width: calc(100% - 0.6vw);
    padding-left: 0.6vw;
}

#parentDir img {
    width: auto;
    height: 100%;
}