#playlistEdit input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

#playlistEdit label {
    cursor: pointer;
}

#playlistEdit img {
    width: auto;
    height: 100%;
}

#uploadFolder, #youtubeList {
    width: auto;
    height: calc(100% - 1.4vh);
    padding: 0.7vh;
    float: left;
}

#youtubeListInputPopup {
    width: 15vw;
    padding-bottom: 1%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    text-align: center;
    display: none;
}

#youtubeListInputPopup p {
    padding: 1%;
}

#youtubeListInputPopup input {
    width: 85%;
    padding: 1.5%;
    outline: none;
    border: none;
    border-radius: 10px;
}
